<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AQI Predictor</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h2>AQI Prediction</h2>

    <form action="/" method="post">
        <label>
            City: 
            <input type="text" name="city" id="cityInput" required>
        </label>
        Days: <button type="button" onclick="decrement()">-</button> <span id="dayCount">0</span> <button type="button" onclick="increment()">+</button>
        <input type="hidden" name="days" id="dayInput" value="0">
        
        <input type="submit" value="Submit">
    </form>

    {% if output %}
        <h3>Results:</h3>
        <ul>
            {% for line in output %}
                <li>{{ line }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <script src="/static/js/scripts.js"></script>
</body>
</html>
